@import "../../../assets/styles/maps";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

* {
  box-sizing: border-box;
}

.carrouselsContainer {
  @include flex(column, space-evenly, center);
  margin-top: 48px;
  @include devices(desktop) {
    @include flex(column, space-evenly, flex-start);
    margin-top: 0;
    padding-left: 48px;
    width: 100%;
  }
}

//Brand Carrousel
.brandsTitle {
  font-family: NeueMachina;
  font-size: map-get($font-size, "l");
  font-weight: 800;
  line-height: 30px;
  color: $color-2;
}

.brandsCarrouselMobile {
  @include flex(row, space-between, center);
  width: 100%;
  margin-top: 1rem;
  padding: 12px;
  @include devices(tablet) {
    @include flex(row, space-evenly, center);
    width: 70%;
  }
  @include devices(desktop) {
    display: none;
  }
}

.brandsCarrouselDesktop {
  display: none;
  @include devices(desktop) {
    @include flex(row, flex-start, center);
    width: 100%;
  }
}

.brandsScrollDesktop {
  @include devices(desktop) {
    @include flex(row, flex-start, center);
  }
}

.sliderDesktop {
  @include devices(tablet) {
    @include flex(row, space-evenly, center);

    flex-wrap: wrap;
    margin-top: 28px;
  }
}

//Shipping Details Carrousel
.shippingDetailsCarrousel {
  @include flex(row, space-between, center);
  width: 100%;
  margin-top: 1rem;
  padding: 12px;

  @include devices(tablet) {
    @include flex(row, space-evenly, center);
    width: 70%;
  }

  @include devices(desktop) {
    display: none;
  }
}
