@import "../../assets/styles/maps";
@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.listHeader{
    @include devices(desktop){
        display: flex;
        flex-direction: column-reverse;

    }
}

.listDivider{
    border-bottom: 1px solid $color-12;
    margin: 28px 0;
    @include devices(desktop){
       

    }
}