@import "../../../assets/styles/maps";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

* {
  margin: 0;
}
.mostSearchedContainer {
  @include flex(row, space-evenly, center);
  flex-wrap: wrap;
  margin-top: 78px;
  padding: 0 12px;
  @include devices(desktop) {
    padding: 0 43px;
  }
}

.mostSearchedTitle {
  font-family: NeueMachina;
  font-weight: 800;
  font-size: map-get($font-size, "l");
  line-height: 30px;
  color: $color-11;
}

