@import "../../../assets/styles/maps";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.mostSearchedWrapper {
  @include flex(row, center, center);
  width: 150px;
  @include devices(desktop) {
    width: 195px;
  }
}

.mostSearchedImg {
  width: 72px;
  height: 72px;
}

.mostSearchedName {
  font-family: Inter;
  font-weight: 400;
  font-size: map-get($font-size, "x-s");
  line-height: 15px;
  margin: 1rem 1rem 0 1rem;
}

.mostSearchedWrapperRight {
  @include flex(column, center, flex-start);
}

.mostSearchedPrices {
  display: none;
  @include devices(desktop) {
    @include flex(column, center, flex-start);
  }
}

.mostSearchedTotal,
.mostSearchedTotalDiff {
  @include devices(desktop) {
    font-family: Inter;
    font-weight: 700;
    font-size: map-get($font-size, "x-s");
    line-height: 15px;
    letter-spacing: 0.01em;
    margin: 0 0 0 1rem;
  }
}

.mostSearchedTotal {
  color: $color-4;
}

.mostSearchedTotalDiff {
  color: $color-1;
}

.mostSearchedDiscount {
  @include devices(desktop) {
    font-family: Inter;
    font-weight: 400;
    font-size: map-get($font-size, "x-s");
    line-height: 15px;
    text-decoration-line: line-through;
    color: $color-7;
    margin: 0 0 0 1rem;
  }
}
