@import "./assets/styles/_maps.scss";
@import "./assets/styles/_mixins.scss";
@import "./assets/styles/_variables.scss";

* {
  font-family: Inter;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
